@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Source+Sans+Pro');

/* Layout */
html {
	border-top: 0.5em solid rgb(226, 0, 26);
}
	
body {
	color: rgb(0, 59, 103);
	background: rgb(235, 246, 252);
	padding: 0.8em 2.5em;		 
	font-family: 'Source Sans Pro', sans-serif;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 50%;
	background-color: rgb(226, 0, 26);
	color: #ffffff;
	text-align: center;
}

#preview {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	border: 0;
	background: #ffffff;
}

#feedback {
	margin: 2rem 0;
	width: 45%;
}

#preview p {
	margin: 4rem;
}

/* Font */
h1, h2 {
	color: rgb(226, 0, 26);
	font-family: 'Merriweather', serif;
}

a, a:visited {
	color: rgb(0, 59, 103);
}

a:hover, a:active {
	color: rgb(20, 99, 120);
}

footer a, footer a:visited {
	color: #ffffff;
}

footer a:hover, footer a:active {
	color: #999;
}

/* Form */
input[type="file"] {
	display: none;
}

.file-upload {
	border-top: 2px solid rgb(226, 0, 26);
	background: #ffffff;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

/* Help */
#help {
	display: none;
	width: 45%;
	border: 1px solid rgb(226, 0, 26);
	padding: 5px 20px;
}

.tutorial-title {
	font-weight: bold;
	font-size: 1.3em;
	padding: 4px 8px 4px 0;
}

#help-close {
	float: right;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

#help-close:hover {
	color:rgb(20, 99, 120);
}
